LearnTensorFLow/MNIST_data/t10k-images-idx3-ubyte.gz
LearnTensorFLow/MNIST_data/t10k-labels-idx1-ubyte.gz
LearnTensorFLow/MNIST_data/train-images-idx3-ubyte.gz
LearnTensorFLow/MNIST_data/train-labels-idx1-ubyte.gz
LearnTensorFLow/__pycache__/input_data.cpython-36.pyc
